USE [master]
GO
/****** Object:  Database [Prj2311695]    Script Date: 11/11/2025 3:21:48 PM ******/
CREATE DATABASE [Prj2311695]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Prj2311695', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Prj2311695.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Prj2311695_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Prj2311695_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Prj2311695].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Prj2311695]
GO
/****** Object:  Table [dbo].[City]    Script Date: 11/11/2025 3:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](60) NOT NULL,
	[Province] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/11/2025 3:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[AddressLine] [nvarchar](120) NOT NULL,
	[PostalCode] [varchar](7) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[CreditCard] [char](16) NOT NULL,
	[Email] [nvarchar](120) NOT NULL,
	[CityId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/11/2025 3:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](120) NOT NULL,
	[Price] [decimal](8, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 11/11/2025 3:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[SaleDate] [date] NOT NULL,
	[Comment] [nvarchar](200) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityID], [CityName], [Province]) VALUES (1, N'Montreal', N'Quebec')
INSERT [dbo].[City] ([CityID], [CityName], [Province]) VALUES (2, N'Sherbrooke', N'Quebec')
INSERT [dbo].[City] ([CityID], [CityName], [Province]) VALUES (3, N'Ottawa', N'Ontario')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [AddressLine], [PostalCode], [Phone], [CreditCard], [Email], [CityId]) VALUES (1, N'Tim', N'Vu', N'mtl', N'123456', N'1234567890', N'1234567890987654', N'tim@urmom.ass', 1)
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [AddressLine], [PostalCode], [Phone], [CreditCard], [Email], [CityId]) VALUES (2, N'Q', N'V', N'tor', N'123456', N'1234567899', N'1234567123487699', N'qv@gmail.urmom', 5)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [Description], [Price], [Quantity]) VALUES (1, N'Its a phone', CAST(200.00 AS Decimal(8, 2)), 50)
INSERT [dbo].[Product] ([ProductID], [Description], [Price], [Quantity]) VALUES (2, N'Its an Iphone 11', CAST(200.00 AS Decimal(8, 2)), 30)
INSERT [dbo].[Product] ([ProductID], [Description], [Price], [Quantity]) VALUES (3, N'Its an Iphone 12', CAST(200.00 AS Decimal(8, 2)), 30)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([SaleID], [SaleDate], [Comment], [CustomerID], [ProductID]) VALUES (1, CAST(N'2025-11-10' AS Date), N'Sold', 2, 6)
INSERT [dbo].[Sale] ([SaleID], [SaleDate], [Comment], [CustomerID], [ProductID]) VALUES (2, CAST(N'2025-11-09' AS Date), N'Sold', 1, 5)
SET IDENTITY_INSERT [dbo].[Sale] OFF
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('exp@exp.exp') FOR [Email]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_City]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Customer]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Product]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CK_Customer_CreditCardDigits] CHECK  ((len([CreditCard])=(16) AND NOT [CreditCard] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CK_Customer_CreditCardDigits]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CK_Customer_PostalLen] CHECK  ((len([PostalCode])>=(1) AND len([PostalCode])<=(7)))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CK_Customer_PostalLen]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_Price] CHECK  (([Price]>=(0) AND [Price]<=(2500)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_Price]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_Quantity] CHECK  (([Quantity]>=(0) AND [Quantity]<=(120)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_Quantity]
GO
USE [master]
GO
